<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>640483797083-qsjvma22lvih41t92pifqcemrb6va1kn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.640483797083-qsjvma22lvih41t92pifqcemrb6va1kn</string>
	<key>API_KEY</key>
	<string>AIzaSyC-uWG2aeBpkQgHG3sGM_pzlRzpNS_yQSs</string>
	<key>GCM_SENDER_ID</key>
	<string>640483797083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-a92a7</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-a92a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640483797083:ios:b2d1a23828cef46303f77e</string>
</dict>
</plist>